@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

/* DETTAGLI */
.main-container {
  max-width: 1300px;
}

.extracted-number-container {
  width: 75px;
  height: 75px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: #148f81;
  height: 100%;
}

/* RESET */
hr {
  color: white;
}

.title {
  font-family: "Gochi Hand", serif;
  font-size: 4rem;
}
